extends layout

block content
	h4(style="text-align:center")
		| List of Reviews of #{asin}
	nav.breadcrumb
		a.breadcrumb-item(href='/admin') Admin Console
		a.breadcrumb-item(href='/admin/allproducts') List of products
		span.breadcrumb-item.active #{asin}
	br
	if errorMessage.length > 0
		.alert.alert-danger-alt.alert-dismissable
			a.close(href='#', data-dismiss='alert', aria-label='close') ×
			strong #{errorMessage}
	| Total of 
	span.badge.badge-pill.badge-primary #{labeled_reviews.length} 
	|  labeled reviews out of 
	span.badge.badge-pill.badge-danger #{total_num} 
	|  total reviews
	br
	div(style="padding-top:20px;")
		table.table.table-sm
			thead
				tr
					th #
					th Review ID
					th Number of Users
			tbody
				each labeled_review, i in labeled_reviews
					tr
						th(scope='row')
							= i+1
						td 
							- var reviewID = labeled_review.review_id.replace(/^"(.*)"$/, '$1');
							a(href="/admin/allproducts/"+asin+"/"+reviewID) #{reviewID}
						td #{labeled_review.num_users}