extends layout

block content
    if errorMessage.length > 0
        .alert.alert-danger.alert-dismissable
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            strong #{errorMessage}
    if successMessage.length > 0
        .alert.alert-success.alert-dismissable
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            strong #{successMessage}
    h3.
        Original Review:
    .row
        .col-sm-8
            //each review in reviews
            p
                strong Product Asin: 
                | #{review.asin}
                | #{review._id}
                br
                strong Ratings: 
                | #{review.ratings} out of 5
                br
                strong Summary: 
                | #{review.summary}
        .col-sm-4
            .alert.alert-info(role='alert').float-right
                |  Annotated 
                span.badge.badge-pill.badge-primary #{done_many}
                |  out of 10 reviews
    .col-sm-12
        #wrap
            textarea(readonly='') #{review.reviewText}
        //| #{review.reviewText.match(/([\s]+)/g).length}
    br
    h3.
        Add Labels:
    .col-sm-12
        br
        form#formSurvey(name="submit-review",method="post",action="/amzreview-submit")
            input(type="hidden" name="user_id" value=user._id)
            input(type="hidden" name="review_id" value=review._id)
            .divTable
                .divTableBody
                    .divTableRow
                        .divTableCell.numbercell
                            strong #
                        .divTableCell.classifysentence
                            strong Sentence
                        .divTableCell.label
                            strong Label
                    each sentence, i in sentences
                        .divTableRow
                            .divTableCell.numbercell
                                = i+1
                            .divTableCell.classifysentence
                                | #{sentence}
                            .divTableCell.label
                                .form-check
                                    label.form-check-label
                                        input.form-check-input(name='sent_'+(i+1), type='checkbox', value='0')
                                        |     Other
                                .form-check
                                    label.form-check-label
                                        input.form-check-input(name='sent_'+(i+1), type='checkbox', value='1')
                                        |     Software
                                .form-check
                                    label.form-check-label
                                        input.form-check-input(name='sent_'+(i+1), type='checkbox', value='2')
                                        |     Hardware
            br
            button.btn.btn-primary(type='submit') Submit
block javascript
    script
        | $("textarea").height( $("textarea")[0].scrollHeight );
    script
        | console.log("test");
