extends layout

block content
    h3.
        Review:

    .col-sm-12
        each review in reviews
            p
                strong Product Name: 
                | #{review.asin}
                br
                strong Ratings: 
                | #{review.ratings}
                br
                strong Summary: 
                | #{review.summary}

            #wrap
                textarea #{review.reviewText}
    br
    h3.
        Label:
    .col-sm-12
        ol
            each review in reviews
                li #{review.summary} 
                br
